{% extends 'padre/padre.html' %}
{% load static %}
{% block title %}
productos
{% endblock title %}

{% block contenido %}
<main class="container mt-5">
  <div class="card ">
    <div class="card-body m-1">
      <table class="table  table-borderless table-hover text-center">
        <thead>
          <tr>
            <th scope="row" colspan="4" class="text-center table-light"><h1>DETALLE BOLETA</h1></th>
          </tr>
        </thead>
        <thead>
          {% for  p in venta %}
          <tr class="table-group-divider table-active">
            <th scope="col">ID VENTA</th>
            <th scope="col">ID USUARIO</th>
            <th scope="col">MONTO TOTAL</th>
            <th scope="col">FECHA</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{p.id}}</td>
            <td>{{p.id_usuario}}</td>
            <td>{{p.monto_total}}</td>
            <td>{{p.fecha_compra}}</td>
            <tr>
              <th scope="col">id pokedex</th>
              <th scope="col">nombre</th>
              <th scope="col">valor</th>
              <th scope="col">cantidad</th>
            </tr>
            {% for d in detalle_venta %}

            {% if p.id == d.id_venta_id %}

            <tr>
              <td>
                {{d.id_producto_id}}
              </td>
              <td>
                {{d}}
              </td>
              <td>
                {{d.valor_producto}}
              </td>
              <td>
                {{d.cant_producto}}
              </td>
            </tr>
   
            {% endif %}
            {% endfor %}
            <tr>
              <td class="text-center" colspan="4"><h3>$ total {{p.total}}</h3></td>
            </tr>
          </tr>
          
          {% if p <= 0 %}
          <tr>
            <td colspan="3">
                <div class="alert alert-light text-center"> No registra productos en historial! </div>
            </td>
            {% endif %}
        </tr>
          {% endfor %}
          <tr>
            <form method="post" action="{% url 'enviar_correo' %}">
                {% csrf_token %}
                <button class="badge rounded-pill text-bg-success" type="submit">Enviar a mi correo</button>
                
              </form>
        </tr>
        </tbody>
      </table>
    </div>
      </div>
      </div>
  
</main>

<style>
  body{
    background: url('/static/img/background_white.jpg');
    background-attachment: fixed;
  }
  </style>
{% endblock contenido %}